/* Name: UE Red
Hex: #BB000E

	
Name: Lust
Hex: #E31C25

	
Name: Eerie Black
Hex: #1C1C1C

Font 
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

.row {
    width: 100%;
    height: 600px;
}

.col-6 {
    width: 50%;
}

.bc-black {
    background-color: #1C1C1C;
}

.card {
    width: 20%;
}